In [98]:
#- Songs that are actually similar to the ones they picked from an acoustic point of view.
#- Songs that are popular around the world right now, independently from their tastes.

In [99]:
# 1. Import the Libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [100]:
# 2. find url and store it in a variable
url = "http://www.popvortex.com/music/charts/top-100-songs.php"

In [101]:
# 3. download html with a get request
response = requests.get(url)
response.status_code

200

In [102]:
soup = BeautifulSoup(response.content, "html.parser")

In [103]:
#chart-position-1 > div.chart-content.col-xs-12.col-sm-8
#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > cite

In [114]:
result = soup.select("#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p")
display(result)

In [115]:
#soup

In [116]:
# body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper
    
result2 = soup.select("body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper p cite")

titles = []

for item in result2:
    titles.append(item.get_text())
#     print(item.get_text())
    
display(len(titles))
# display(titles)

99

In [112]:
artists_result = soup.select(".artist")
artists = []

for item in artists_result:
    artists.append(item.get_text())
    
len(artists)

99

In [113]:
topSongs_df = pd.DataFrame({"title" : titles, "artists" : artists})
topSongs_df

                       title                        artists
0   81 Million Votes, My Ass  The Truth Bombers & Kari Lake
1                   Fast Car                     Luke Combs
2                   Take Two                            BTS
3                 Last Night                  Morgan Wallen
4               Need A Favor                     Jelly Roll
..                       ...                            ...
94                   Jericho                          Iniko
95     You Need To Calm Down                   Taylor Swift
96            Hits Different                   Taylor Swift
97                     HAPPY                             NF
98                   PLEBADA           El Alfa & Peso Pluma

[99 rows x 2 columns]